/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/

@font-face {
  font-family: 'Brandon Grotesque';  /* Sets a name for our font family */
  font-weight: normal;  /* Sets the font-weight for this particular font */
  font-style: normal;   /* Sets the font-style for this particular font */
  src: url('fonts/Brandon_reg.eot'); /* Support for IE9 */
  src: 
    url('fonts/Brandon_reg.eot?#iefix') format('embedded-opentype'),   
    url('fonts/Brandon_reg.woff2') format('woff2'),
    url('fonts/Brandon_reg.woff') format('woff'),
    url('fonts/BrandonGrotesque-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Brandon Grotesque';
  font-weight: bold;
  font-style: normal;
  src: url('fonts/Brandon_bld.eot');
  src: 
    url('fonts/Brandon_bld.eot?#iefix') format('embedded-opentype'),
    url('fonts/Brandon_bld.woff') format('woff2'),
    url('fonts/Brandon_bld.woff') format('woff'),
    url('fonts/BrandonGrotesque-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Adobe Devanagari';
  font-weight: normal;
  font-style: normal;
  src: url('fonts/AdobeDevanagari-Regular.eot');
  src: 
    url('fonts/AdobeDevanagari-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/AdobeDevanagari-Regular.woff') format('woff2'),
    url('fonts/AdobeDevanagari-Regular.woff') format('woff'),
    url('fonts/AdobeDevanagari-Regular.ttf') format('truetype');
}


body {
  font-family: 'Brandon Grotesque', 'Adobe Devanagari', sans-serif; 
  padding: 1.5rem;
  background-color: #ffffff;
}


section:not([id]) {
  margin: 1em 0;
  padding: 1em 0;
}

section h2 {
  margin-top: 0;
  margin-bottom: 1em;
  border-bottom: 0.08em solid #333;
  padding-bottom: 0.05em;
}

section h4 {
  margin-top: 0;
  margin-bottom: 1em;
  padding-bottom: 0.1em;
  float: left;
  font-size: 1.2rem;
  font-weight: bold;
}

section h3 {
  margin-bottom: 0;
}

section p {
  margin-top: 0;
}


nav {
  width: 100%;
  background-color: #ffffff;
  z-index: 10;
}

@media (min-width: 40em) {
  nav{
    top: 0em;
    left: 0em;
    position: fixed;
}
  .header1{
    padding-top: 2em;
  }
}


nav a:hover, nav a:focus {
  text-decoration: none;
}

section code {
  background-color: #EEE;
  padding: 0.5em 0.75em;
  display: block;
}

ul.citations {
  margin-left: 0.25em;
  padding-left: 0.25em;
}

ul.citations li {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  padding-bottom: 1em;
}

ul.citations li strong {
  font-weight: normal;
  font-style: italic;
}

cite {
  font-style: normal;
}

li {
  font-family: 'Adobe Devanagari';
  font-weight: normal;
  font-size: 0.85rem;
  text-align: left;
}

.headergap {
  position: relative;
  padding-bottom: 2em;
  padding-top: 2em;
}


/* 
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for the navigation*/
.button-nav { /*refer to the .buttom-nav class in html*/
  display: inline-block;
  margin: 0em;
  padding: 1.5em 0.75em; /*top and bottom padding = 0.5em, left and right padding = 0.75em*/
  width: 100%;
  color: #202021; /*button text color*/
  background-color: #ffffff; /*button background color*/
  text-decoration: none; /*setting to none removes underline from texts*/
  -webkit-transition: background-color 0.35s ease-out; /*how fast the background color of the button changes to green (#818476) on mouse hover*/
  transition: background-color 0.35s ease-out;
}

.button-nav:hover, .button-nav:focus { /*comma specifies the two states we want; the two states here are hover and focus*/
  background-color: #EEEDED; /*change the button background color to #818476 on mouse hover*/
}

.logo {
  width: 30px;
  padding-top: 0.5em;
}

.logobutton{
  display: inline-block;
  margin: 0em;
  padding: 0.89em 1.75em; /*top and bottom padding = 0.5em, left and right padding = 0.75em*/
  width: 100%;
  height: 100%;
  color: #202021; /*button text color*/
  background-color: #ffffff; /*button background color*/
  text-decoration: none; /*setting to none removes underline from texts*/
  -webkit-transition: background-color 0.35s ease-out; /*how fast the background color of the button changes to green (#818476) on mouse hover*/
  transition: background-color 0.35s ease-out;
}

.logobutton:hover, .logobutton:focus { /*comma specifies the two states we want; the two states here are hover and focus*/
  background-color: #EEEDED; /*change the button background color to #818476 on mouse hover*/
}

/* Styling for buttons with fill */
.button-fill {
  display: inline-block;
  padding: 0.5em 0.75em; /*top and bottom padding = 0.5em, left and right padding = 0.75em*/
  color: #ffffff; /*button text color is off-white*/
  background-color: #818476; /*button background color is green*/
  border-style: solid; /*button border is a solid line on all four sides*/
  border-radius: 5em; /*rounding button corners*/
  text-decoration: none; /*setting to none removes underline from texts*/
  text-transform: initial;
  -webkit-transition: background-color 0.35s ease-out; /*how fast the background color of the button changes to green (#818476) on mouse hover*/
  transition: background-color 0.35s ease-out;
}

/*Styling for buttons with outline*/
.button-outline {
  display: inline-block;
  padding: 0.5em 0.75em; /*top and bottom padding = 0.5em, left and right padding = 0.75em*/
  color: #818476; /*button text color is green*/
  background-color: #ffffff; /*button background color is white*/
  border-style: solid; /*button border is a solid line on all four sides*/
  border-color: #818476; /*button border color is green*/
  border-radius: 5em; /*rounding button corners*/
  text-decoration: none; /*setting to none removes underline from texts*/
  -webkit-transition: background-color 0.35s ease-out; /*how fast the background color of the button changes to green (#818476) on mouse hover*/
  transition: background-color 0.35s ease-out;
}

/*Styling for the drop-down menu*/
.dropdown-button {
  display: inline-block;
  font-family: 'Brandon Grotesque';
  font-size: 16px;
  padding: 0.55em 0.8em;
  color: #f9f9fa; /*button text color is off-white*/
  background-color: #818476; /*button background color is green*/
  border-width: 0.01em;
  text-decoration: none; /*setting to none removes underline from texts*/
}

.dropdown-picker {
  display: block;
  font-family: 'Brandon Grotesque';
  font-size: 16px;
  padding: 0.55em 0.8em;
  text-align: left;
  color: #202021; /*button text color is grey*/
  background-color: #ffffff; /*button background color is white*/
  border-color: rgba(35, 7, 7, 0.16);
  border-width: 0.05em;
  border-style: solid;
  text-decoration: none; /*setting to none removes underline from texts*/
}

.dropdown-quantity {
  font-family: 'Brandon Grotesque';
  font-size: 16px;
  padding: 0.55em 0.8em;
  text-align: center;
  color: #202021; /*button text color is grey*/
  background-color: #ffffff; /*button background color is white*/
  border-color: rgba(35, 7, 7, 0.16);
  border-width: 0.01em;
  text-decoration: none; /*setting to none removes underline from texts*/
}

.dropdown {
  display: block;
  position: relative;
  padding-bottom: 1em;
}


.dropdown-content {
  display: none; /*do not display until on mouse-hover*/
  position: absolute;
  background-color: #f9f9fa;
  text-decoration: none;
  width: 100%;
}

.dropdown-content a {
  color: #202021;
  padding: 0.5em 0.75em;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
  display: block;

}

.dropdown:hover .dropdown-button {
  background-color: #e5e5e5; /*change background color of dropdown menu links on mouse-hover*/
}




/*Styling for the in-text link*/

.in-text-link {
  font-family: 'Brandon Grotesque';  /* Sets a name for our font family */
  font-weight: normal;  /* Sets the font-weight for this particular font */
  font-style: normal;
}

.in-text-link:hover, .in-text-link:focus, .button-fill:focus, .button-fill:hover, .button-outline:focus, .button-outline:hover{ /*comma specifies the two states we want; the two states here are hover and focus*/
  opacity: 0.5; /* change in-text link and button opacity to 70% on mouse hover */
}

/*Styling for the underlined in-text link*/

.in-text-underline {
  color: #202021;
}

.in-text-underline:hover, .in-text-underline:focus {
  opacity: 0.5;
}


/*Styling for the in-text link ALT*/

.in-text-link-alt {
  color: #818476;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8em;
}

.in-text-link-alt:hover, .in-text-link-alt:focus {
  opacity: 0.5; /* change in-text link and button opacity to 50% on mouse hover */
}

/* Styling for the text input field */
form {
  display: block;
  padding: 0.5rem 0rem;
  font-size: 0.85rem;
  text-transform: uppercase;
}

label {
  font-size: 0.85rem;
  text-transform: uppercase;
  display: block;
  padding-bottom: 0.25em;
}

input {
  display: block;
  width: 40em;
  height: 3.5em;
  color: #000;
  margin-bottom: .75em;
  padding-left: 0.5em;
}

input[type='checkbox'] {
  display: inline-block;
  height: 1em;
  padding-left: 1em;
  padding-bottom: 3em;
  width: 1em;
  color: #818476;
}

input[id='quantity'] {
  height: 3.5em;
  width: 3.5em;
}


/* 
  TEXT ELEMENTS -------------------
*/

/*Styling for the levels of headings*/
.heading1 {
    font-size: 2.2rem;
    font-weight: bold;
    text-align: center;
    color: #202021;
    margin-top: 4rem;
    margin-bottom: 1.25rem;
}

@media (max-width: 40em) {
  .heading1{
    margin-top: 2rem;
}
}


.heading2 {
    font-size: 1.8rem;
    font-weight: bold;
    text-align: left;
    color: #202021;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

.heading3 {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: left;
  color: #202021;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.heading4 {
 font-size: 1.15rem;
  font-weight: bold;
  text-align: left;
  color: #202021;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}


.prod-title-specs {
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
  color: #818476;
  padding: 0rem 0rem 0rem 1.5rem;
  margin-bottom: 0;
  clear: left;
}

.prod-price {
  font-size:1.4rem;
  font-weight: bold;
  text-align: left;
  color: #202021;
  margin:0rem;
  padding:0rem;
}

.prod-sku {
  font-size:0.85rem;
  font-weight:normal;
  text-align: left;
  color: #888888;
  margin: 0rem;
  padding: 0rem;
  clear: left;
}

.reviewer-date {
  font-size:0.7rem;
  font-weight:normal;
  text-align: left;
  color: #888888;
  margin: 0rem;
  padding: 0rem;
  clear: left;
}

.paralist {
  margin-bottom: 0.5em;
}

.title-info {
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
  text-decoration: none;
  color: #818476;
  margin:0rem;
  clear: left;
  padding-top:0.55rem;
}

.section-info {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #818476;
  margin: 0;
  clear: left;
  padding-top:0.75rem;
}

/*Styling for about page*/
.title-about {
  font-size: 2em;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #818476;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  clear: left;
  padding-top:0.75rem;
}

.info-about {
  font-family: 'Adobe Devanagari'; /*font for this paragraph class is Adobe Devangari*/
  font-size: 0.85rem; 
  text-align: center;
  max-width: 40rem; /*line length*/
  color: #202021;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.heading5 {
  font-size: 1.15rem;
  font-weight: bold;
  text-align: left;
  color: #202021;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

/*Styling for product page*/
.productPrice {
  margin:0rem;
  text-align:left;
}

/*Styling for paragraph*/
.paragraph {
  font-family: 'Adobe Devanagari'; /*font for this paragraph class is Adobe Devangari*/
  font-size: 0.85rem; 
  text-align: left;
  max-width: 30rem; /*line length*/
  color: #202021;
  padding-bottom:1.6rem;
}

/*Styling for product description*/
.prod-description {
  font-family: 'Adobe Devanagari'; /*font for this paragraph class is Adobe Devanagari*/
  font-size: 0.85rem; 
  text-align: left;
  max-width: 30rem; /*line length*/
  color: #202021;
  clear: left;
  margin:0.25rem;
}

/*Styling for unordered list*/
.ulist {
  color: #202021;
  margin: 0;
}

/*Styling for ordered list*/
.olist {
  color: #202021;
}


/* 
  COLOUR ELEMENTS -------------------
*/
.darkgreyColor {
  display:inline-block;
  margin: 0em;
  padding: 50px 0;
  text-align: center;
  width: 200px;
  height: 80px;
  background-color: #202021;
}

.greenColor {
  display:inline-block;
  margin: 0em;
  padding: 50px 0;
  text-align: center;
  width: 200px;
  height: 80px;
  background-color: #818476;
}


/*Product specific color options*/
.mintColor { /*for Agatha bike*/
  display: inline-block;
  margin-top: 0.3em;
  width: 20px;
  height: 20px;
  border-radius: 12.5px;
  background-color: #c3dcd9;
  text-align: left;
}

.tealColor { /*for Agatha bike*/
  display: inline-block;
  margin-top: 0.3em;
  width: 20px;
  height: 20px;
  border-radius: 12.5px;
  background-color: #83a0a4;
  text-align: left;
}

.brickColor { /*for Agatha bike*/
  display: inline-block;
  margin-top: 0.3em;
  width: 20px;
  height: 20px;
  border-radius: 12.5px;
  background-color: #9e5745;
  text-align: left;
}

.mustardColor { /*for Franco bike*/
  display: inline-block;
  margin-top: 0.3em;
  width: 20px;
  height: 20px;
  border-radius: 12.5px;
  background-color: #c0873e;
  text-align: left;
}

.skyColor { /*for Franco bike*/
  display: inline-block;
  margin-top: 0.3em;
  width: 20px;
  height: 20px;
  border-radius: 12.5px;
  background-color: #72bfcd;
  text-align: left;
}

.ketchupColor { /*for Franco bike*/
  display: inline-block;
  margin-top: 0.3em;
  width: 20px;
  height: 20px;
  border-radius: 12.5px;
  background-color: #e85e4d;
  text-align: left;
}

.blackColor {
  display: inline-block;
  margin-top: 0.3em;
  width: 20px;
  height: 20px;
  border-radius: 12.5px;
  background-color: #000000;
  text-align: left;
}

.darkblueColor {
  display: inline-block;
  margin-top: 0.3em;
  width: 20px;
  height: 20px;
  border-radius: 12.5px;
  background-color: #172345;
  text-align: left;
}

.aquaColor {
  display: inline-block;
  margin-top: 0.3em;
  width: 20px;
  height: 20px;
  border-radius: 12.5px;
  background-color: #8dcfab;
  text-align: left;
}

.cardboardColor {
  display: inline-block;
  margin-top: 0.3em;
  width: 20px;
  height: 20px;
  border-radius: 12.5px;
  background-color: #bdae96;
  text-align: left;
}

.mintCircle {
    display: inline-block;
    margin: 0em;
    width: 15px;
    height: 15px;
    border-radius: 30px;
    background-color: #c3dcd9;
    margin-left: 0.5em;
}

.mintColor:hover, .mintColor:active, 
.tealColor:hover, .tealColor:active, 
.brickColor:hover, .brickColor:active, 
.mustardColor:hover, .mustardColor:active, 
.skyColor:hover, .skyColor:active, 
.ketchupColor:hover, .ketchupColor:active,
.blackColor:hover, .blackColor:active, 
.darkblueColor:hover, .darkblueColor:active, 
.aquaColor:hover, .aquaColor:active,
.cardboardColor:hover, .cardboardColor:active {
  opacity: 0.5;
}


/* 
  COMBINED ELEMENTS -------------------
*/

/*Styling for product listing*/
.prod-list {
  display: flex;
  flex-wrap: wrap; /*line length in caption is no longer than the picture*/
  max-width: 50%; /*maximum width of the image is 50% of the original size of the image*/
  color: #202021; /*text color*/
  text-decoration: none;
}

.prod-limited {
  font-family: 'Brandon Grotesque';
  font-weight: normal;
  color: #83a0a4;
}

/*Styling for grid*/
.grid {
  display: flex;
  flex-wrap: wrap;
  max-width: 50%;
  text-decoration: none;
}

img {
  max-width: 100%;
  border: 0;
  height: auto; /*automatically adjust height according to width to constrain proportions of image*/
}

iframe {
  max-width: 100%;
}


/*Styling and dev containers for Cart and Checkout*/

.checkoutheaders{
  margin-top: 0.75em;
  margin-bottom: 1em;
  border-bottom: 0.05em solid #333;
  padding-bottom: 0.05em;
}
.
.checkoutelement{
  text-align: left;
  padding-bottom: 2.5em;
  display: inline-block;
  float: left;
  width: 100%;
}

.checkouttitle{
  text-align: left;
  padding-left: 0.5em;
  padding-right: 1em;

}

.checkoutinfo{
  text-align: left;
  padding-left: 0.5em;
  padding-bottom: 0.5em;
  font-family: 'Adobe Devanagari';
  font-weight: normal;
}

.checkoutimage{
  width: 100%;
  max-width: 325px;
  min-width: 175px;
  float: left;
}

@media (max-width: 40em) {
  .checkoutimage {
    max-width: 550px;
  }
}


.carttitle{
  margin: 0em;
  text-align: left;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 2.1em;
}

.cartsubtitle{
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #818476;
  margin: 0;
  clear: left;
  padding-top:0.75rem;
}

.cartinfo{
  text-align: left;
  padding-bottom: 0.5em;
  font-family: 'Adobe Devanagari';
  font-weight: normal;
  padding-left: 2.5em;
}

@media (max-width: 40em) {
  .cartinfo{
    padding-left: 0em
  }
  .cartsubtitle{
    display: none !important;
    
  }
  .carttitle{
    padding-left: 0em
  }
}

.cartimage{
  width: 100%;
  min-width: 175px;
  float: left;
  padding-top: 0.5em;
}


.block{
  border-bottom: 0.08em solid #333;
  display: inline-block;
}

/*Styling with breakpoints*/

/*Styling for product detail page*/
.image-detail {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
  color: #818476;
  margin-top: 1rem;
  margin-bottom: 0.25rem;
}

.image-prod-main {
  flex-wrap:wrap;
  margin:0;
  padding-right:0.5rem;
}


/*Styling with breakpoints for the plan trip and route pages*/

.thumbnail_views {
  flex-wrap: wrap;
  position:relative;
  clear:both;
}

.image-prod-thumbnails {
  flex-wrap: wrap;
  padding-right: 1.25rem;
}

@media (max-width: 1118px) {
  .image-prod-thumbnails {
    width: 100%;
    padding: 0rem;
  }
}

@media (max-width: 70em) {
  .image-prod-thumbnails {
    width: 80%;
    padding: 0rem;
  }
}

@media (max-width: 40em) {
  .image-prod-thumbnails {
    width: 31.5%;
    padding: 0rem;
  }
}

.image-prod-details {
  padding-right:2.5rem;
}

.image-map {
  padding-right:2.5rem;
}

.image-rider {
  padding-right:0rem;
}

@media (max-width: 40em) {
  .image-prod-details {
    padding-right:0rem;
  }
  .image-map {
    padding-right:0rem;
  }
  .image-rider {
    padding-right:0rem;
  }
}

.image-route-leftcolumn {
  margin-left: 0;
  margin-right: 1em;

}

.image-route-rightcolumn {
  margin-right: 0;
  margin-left: 1em;

}

@media (max-width: 40em) {
  .image-route-rightcolumn{
    margin: 0em;
    margin-bottom: 1em;
  }
  .image-route-leftcolumn{
    margin: 0em;
    margin-bottom: 1em;
  }
}


.reviewer-name {
  font-size:0.9rem;
  font-family: 'Brandon Grotesque';
  font-weight: bold;
  color: #000000;
}

.review-headline {
  font-size: 1.025rem;
  font-family: 'Adobe Devanagari';
  font-weight: bold;
  color: #202021;
}

/*makes text-input and form fields responsive*/

@media (max-width: 40em) {
  form {
    width: 100%;
  }
  input[type=text],
  select {
    width: 100%; 
  }
  .comment {
    width: 100%;
  }
}

.comment {
  font-size: 0.85rem;
  font-family: 'Adobe Devanagari';
  width: 100%;
  height: 10rem;
  resize: vertical;
}

.newsletter {
  width: 85%;
}




















